
span {
    position: relative;
}
span::before {
    content: "Let's Connect";
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: .4s;
    white-space:nowrap;
    color: white;
}
button {
    position: relative;
    border-radius: 0 !important;
}
button:hover span::before {
    width: 100%;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: brown;
    border: none;
    border-radius: inherit;
    transition: .4s;
}
button:hover::before {
    width: 100%;
}